# The releng team is by default the owner of everything.
*             @eclipse-tractusx/eclipsefdn-releng

# Otterdog related configuration are also owned by the security team.
/otterdog/**  @eclipse-tractusx/eclipsefdn-security
